<footer>
  <div class="footer-main">
    <div class="web-page-links">
      <ul>
        <li class="list-header">ABOUT NIKE</li>
        <li>
          <a href="">Mens</a>
        </li>
        <li>
          <a href="">Womens</a>
        </li>
        <li>
          <a href="">Kids</a>
        </li>
        <li>
          <a href="">Trending</a>
        </li>
      </ul>
    </div>
    <div class="my-projects">
      <ul>
        <li class="list-header">MY PROJECTS</li>
        <li>
          <a href="https://portfolio-mindiashvili.web.app/" target="_blank">Portfolio</a>
        </li>
        <li>
          <a href="https://dzvel-ubanshi.web.app/" target="_blank">Dzvelubanshi</a>
        </li>
        <li>
          <a href="https://railway-gm.web.app/" target="_blank">Railway GM</a>
        </li>
        <li>
          <a href="https://travelgm-2b9da.web.app/" target="_blank">Travel More</a>
        </li>
        <li>
          <a href="https://project-4-gm.web.app/" target="_blank">Gaming Web</a>
        </li>
        <li>
          <a href="https://gmf-shop.web.app/" target="_blank">Football Shop</a>
        </li>
      </ul>
    </div>
    <div class="social-links">
      <ul>
        <li class="list-header">ABOUT ME</li>
        <li>
          <a href="https://www.linkedin.com/in/giorgi-mindiashvili-287309261/" target="_blank">Linkedin</a>
        </li>
        <li>
          <a href="https://github.com/MindiashviliGiorgi" target="_blank">GitHub</a>
        </li>
        <li>
          <p>mindiashvilife@gmail.com</p>
        </li>
      </ul>
    </div>
  </div>
</footer>