.single-item-main {
  width: 100%;
  min-height: 100vh;
  padding: 40px 150px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  column-gap: 40px;
  position: relative;
  .single-item-main-left {
    width: 100%;
    flex: 2;
    display: flex;
    align-items: top;
    flex-direction: row;
    column-gap: 30px;
    position: sticky;
    top: 70px;
    .images-list {
      width: 60px;
      height: auto;
      ul {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        align-items: flex-start;
        li {
          list-style: none;
          width: 60px;
          height: 60px;
          background-color: #e0e0e0;
          border-radius: 5px;
          &:hover {
            background-color: #a1a1a1;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
          }
        }
      }
    }
    .choiced-image {
      width: 100%;
      height: 620px;
      background-color: #e4e4e4;
      border-radius: 5px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }
  }
  .single-item-main-right {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
    .item-title {
      width: 100%;
      h1 {
        font-weight: 300;
      }
    }
    .item-category {
      width: 100%;
      p {
        font-size: 17px;
      }
    }
    .item-color {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: row;
      column-gap: 10px;
      p {
        font-size: 18px;
      }
      .circle-color {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid #000;
      }
    }
    .item-price {
      width: 100%;
      p {
        font-size: 20px;
      }
    }
    .size-list {
      width: 100%;
      height: auto;
      ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        li {
          list-style: none;
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;
          border-radius: 5px;
          border: 1px solid #c5c5c5;
          cursor: pointer;
          &:hover {
            border: 1px solid #000;
          }
          p {
            font-size: 17px;
          }
        }
      }
    }
    .btn {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      button {
        width: 100%;
        height: auto;
        padding: 13px 20px;
        font-size: 17px;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
          opacity: 0.8;
        }
        &:active {
          opacity: 1;
          transition: 0s;
        }
      }
    }
    .about-item {
      width: 100%;
      height: auto;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      p {
        font-size: 18px;
        line-height: 25px;
      }
    }
  }
}