<app-header/>
<div class="bag-page-main">
  <div class="page-left">
    <div class="free-delivery">
      <h2>Free Delivery for Members</h2>
      <p>
        Become a Nike-GM Member to get fast and free delivery. 
        <u>Sign in</u> for join us
      </p>
    </div>
    <div class="items-in-bag">
      <div class="title">
        <h2>Bag</h2>
        <h2>Testing</h2>
      </div>
      <div class="items-list">
        <ul>
          <ng-container *ngFor="let item of items">
            <li>
              <div class="container">
                <div class="container-left">
                  <div class="item-avatar">
                    <img src="{{item.avatar}}">
                  </div>
                  <div class="item-information">
                    <div class="item-name">
                      <h3>{{item.name}}</h3>
                    </div>
                    <div class="item-type">
                      <p>{{item.category}}</p>
                    </div>
                    <div class="item-color">
                      <p>{{item.color}}</p>
                    </div>
                    <div class="item-size"></div>
                    <div class="item-btns">
                      <button>
                        <img src="/assets/icons/gift-icon.png">
                      </button>
                      <button>
                        <img src="/assets/icons/heart.png">
                      </button>
                      <button>
                        <img src="/assets/icons/trash-icon.png">
                      </button>
                    </div>
                  </div>
                </div>
                <div class="container-right">
                  <p>£{{item.price}}</p>
                </div>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
  <div class="page-right">
  </div>
</div>
<app-trending-section/>
<app-footer/>